/*pour agir sur toute la page*/
* {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
}

div.titre_box {

  background-color: #ffffff;
  text-align: center;
  font-family: "DynaPuff", cursive;
  /* positionner le titre sur le slide pour passer devant*/
  position: absolute;
  z-index: 999;

  line-height: 30px;
  font-family: "DynaPuff", cursive;
  padding: 20px;
  margin: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 30px;
}

header p {
  font-size: 20px;
}

/* Le slider*/
.slider {
  overflow: hidden;
  margin: auto;
  border-radius: 55px;
}

.slides {
  display: flex;
  flex-direction: row;
  animation: glisse 30s infinite ease;
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin: auto;
}

.slide {
  opacity: 0.85;
}

/* Pour l'animation, on utilise le pack @keyframes sue l'on nomme :"glisse"*/
@keyframes glisse {
  0% { transform: translateX(0px); }
  33% { transform: translateX(-300px); }
  66% { transform: translateX(-600px); }
  100% { transform: translateX(0px); }
}

/*navigation menu*/
.section-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
 

}
.menu {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #e9ecef;
}

.menu ul {
  padding: 0;
  margin-bottom: 1rem;
  display: flex; 
  justify-content: space-between; 
  width: 55vw;
}

.menu ul li {
  margin: auto 10px ;
  padding: 1px 10px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  background-color: #e9ecef;
  display: inline-block;
  flex: 1;
  transition: background-color 0.3s, transform 0.3s;
}

.menu ul li:hover {
  background-color: #495057;
  color: #fff;
  transform: scale(1.05);
}


/*mettre une image sur chaque bouton*/
.accueil {
  background: url(../images/0_nav.jpg) 100%;
}
.carte {
  background: url(../images/0_nav.jpg) 100%;
}
.méthodes {
  background: url(../images/0_nav.jpg) 100%;
}
.mécanismes {
  background: url(../images/0_nav.jpg) 100%;
}

/*Animation quand la souris passe sur le lien*/
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "DynaPuff", cursive;
}

.nav-item {
  height: 50px;
  padding: 20px;
  box-shadow: 12px 12px 2px 1px;
}

footer {
  background-color: #b0abab;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  margin-top: 20px;
  top:0;
}

.pixabay {
  font-size: 12px;
}

h2, h3, h4, h5 {
  font-family: "DynaPuff", cursive;
  text-align: center;
  padding-top: 1rem;
}

h2 {
  color: #033163; 
  font-size: 28px;
}

h3 {
  color: #069608; 
  font-size: 26px;
}

h4 {
  color: #a40560; 
  font-size: 24px;
}

h5 {
  color: #764ABC; 
  font-size: 22px;
}


b {
  color: black;
  font-family: "DynaPuff", cursive;
}

p {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.blue {
  color: blue;
  font-weight: bold;
}

.espace {
  height: 20px;
}

.important {
  color: rgb(236, 8, 46);
}

ol {
  list-style-position: inside;
  line-height: 1.5rem;
}

/*partie texte dans une partie blanche*/
main {
  padding: 20px;
}

.partie_blanche {
  background-color: #ffffff;
  padding: 30px;
  margin: 0.5rem auto;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 55px;
}

/*maths_training"*/
label {
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding-left: 10px;
  line-height: 1.5;
}
input {
  border-radius: 15px;
  border: 2px solid rgb(54, 53, 53);
  font-size: 18px;
  line-height: 2;
  outline: none;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  width: 100px;
}
#result {
  color: blue;
}

.menu2{
  text-decoration: none;
}

.menu2:hover h4 {
  transform: scale(1.2) !important;
  transition: transform 0.3s ease;
}

.menu2:hover h5 {
  transform: scale(1.2) !important;
  transition: transform 0.3s ease;
}

.fa-arrow-up{
font-size: 20px;
color: #033163;

}

.retour {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #033163;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  margin-left: 95%;
  margin-bottom: 2px;
}

.retour:hover{
  background-color: #6facec;
  transform: scale(1.4);
}
/*CSS pour la page cerveau*/

#cerveau {
  width: 50%;
  max-width: 700px;
}
.illustration {
  align-items: center;
  justify-content: center;
  margin: 0% auto;
  padding-left: 0% auto;
  padding-bottom: 5%;
  padding-top: 10%;
}

.texte {
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding: 10px;
  margin: 0 auto;
}
/*images*/
#cerveau {
  width: 100%;
  height: auto;
}
#homme_stressé {
  width: 100%;
  height: auto;
}
#engrenage {
  width: 100%;
}

#trait_mémoire {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border: 2px double black;
}
#piano {
  width: 100%;
  height: auto;
}
#sleep {
  width: 100%;
  height: auto;
}

/*liste*/
.type_stress {
  padding: 10%;
}

/*séparation de chapitre*/
.séparation {
  background-color: black;
  padding: 2px;
  width: 100%;
}

.séparation_noire {
  background-color: rgb(2, 1, 24);
  padding: 2px;
  width: 25%;
}

/*CSS pour la page méthode*/

.methodes_list {
  list-style-position: inside;
  padding: 10px;
  line-height: 2em;
}
code {
  color: rgb(236, 8, 46);
  padding: 25%;
  margin: 0 auto;
}

#carte_mental_methodes {
  width: 100%;
  height: auto;
  border: 2px double black;
  margin: 0 auto;
  padding: auto;
}
#carte_mental_preparation_mentale {
  width: 100%;
  height: auto;
}

#organiser_notes {
  width: 100%;
  height: auto;
}

#code_couleur {
  width: 100%;
  height: auto;
}
#code_couleur:hover {
  transform: scale(1.5);
  transition: 0.3s all;
}

#lire_consigne {
  width: 100%;
  height: auto;
}

#carte_mental_autocorrection {
  width: 100%;
  height: auto;
}

#protocole_autocorrection {
  width: 100%;
  height: auto;
}

#protocole_autocorrection:hover {
  transform: scale(1.5);
  transition: 0.3s all;
}

/*Carte Mentale*/
.cours_histoire {
  width: 100%;
  height: auto;
}

.cours_histoire:hover {
  transform: scale(1.5);
  transition: 0.3s all;
}

/*Autres Astuces*/
#calculette {
  width: 100%;
  height: auto;
}
.aide {
  font-style: italic;
  color: rgb(236, 8, 46);
}

#présenter_document {
  width: 100%;
  height: auto;
}

#présenter_document:hover {
  transform: scale(1.5);
  transition: 0.3s all;
}

#decompositiondexercices{
  width: 25rem;
  height: 15rem;
  border-radius: 15px;
  display: block; 
    margin:  auto;
  transition: transform 0.3s ease; 
}
  
#decompositiondexercices:hover{
  transform: scale(1.3);
}

#qcm{
  width: 25rem;
  height: 15rem;
  border-radius: 15px;
  display: block; 
  margin:  auto;
  transition: transform 0.3s ease; 
}


#qcm:hover{
  transform: scale(1.3);
}

/*style tableau maths*/
caption {
  color: blue;
  font-size: 20px;
}
.tableau_maths {
  text-align: center;
  /*Définissez la propriété border-collapse du tableau sur repli, pour unifier les bordures*/
  border-collapse: collapse;
  margin: auto;
}
/* la bordure des cellules td et th soit noire, 1px de large, de style solide + padding 10px à toutes les cellules,*/
td,
th {
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  background-color: white;
}
/*ux cellules d'en-tête (=th): #2493df pour la couleur d'arrière-plan et blanc pour le texte.*/
th {
  background-color: blue;
  color: white;
}

/* exo entrainement*/

#resultBtn{
    background-color: blue;
    color: white;
    margin:1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}
#resultBtn:hover{
    transform: scale(1.2);
}

.exo {
    margin-top: 0.5rem;
}

#dureeTrajet{
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  /* Modifier la disposition du menu en colonnes */
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  /* Ajuster l'espacement entre les éléments du menu */
  .menu ul {
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 0;
    margin: 0;
    
  }
  .menu ul li {
    margin: 10px 0;
    padding: 1px 20px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    width: 100%;
    max-width: 300px;

  }
  .menu ul li:hover {
    background-color: #495057; 
    color: #fff; 
    transform: scale(1.05);
  }
 /*lien du 2e menu*/
  .menu2:hover h4 {
    transform: scale(0.9) !important;
    transition: transform 0.3s ease;
  }
  
  .menu2:hover h5 {
    transform: scale(0.9) !important;
    transition: transform 0.3s ease;
  }
  /*autres asctuces*/
  #decompositiondexercices{
    width: 15rem;
    height: 10rem;
    display: block; 
    margin:  auto;
    transition: transform 0.3s ease; 
  }
    
  #decompositiondexercices:hover{
    transform: scale(0.9);
  }

  #qcm{
    width: 15rem;
    height: 10rem;
    display: block; 
    margin:  auto;
    transition: transform 0.3s ease; 
  }


  #qcm:hover{
    transform: scale(0.9);
  }


  .partie_blanche {
    padding: 15px;
    font-size: 16px;
  }

  h5 {
    font-size: 20px;
  }

  p, .blue {
    font-size: 14px;
  }

  .tableau_maths {
    width: 100%;
    font-size: 12px;
  }
}
